<div class="container-fluid">
    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vindo(a)!</h1>
                    <h5 class="fs-18">Expresse aqui seus pensamentos e opiniões</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver postagens</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/H88yIo2.png" alt="" width="500px" height="500px">
        </div>
    </div>
</div>

<div class="container mb-5 mt-5" id="postagens">

    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active text-secondary font-weight-bold" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Todas as postagens</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary font-weight-bold" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Minhas postagens</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link text-secondary font-weight-bold id=" contact-tab data-bs-toggle="tab " data-bs-target="#contact " type="button " role="tab " aria-controls="contact " aria-selected="false ">Postagens por tema</button>
        </li>
    </ul>
    <div class="tab-content " id="myTabContent ">
        <div class="tab-pane fade show active " id="home " role="tabpanel " aria-labelledby="home-tab ">...</div>
        <div class="tab-pane fade " id="profile " role="tabpanel " aria-labelledby="profile-tab ">...</div>
        <div class="tab-pane fade " id="contact " role="tabpanel " aria-labelledby="contact-tab ">...</div>
    </div>


</div>

<!-- Modal -->

<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova postagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
                </div>

                <div class="form-group mt-2">
                    <label for="texto">Texto</label>
                    <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
                </div>

                <div class="form-group mt-2">
                    <label for="tema">Escola um tema ou <a href="">cadastre um novo</a>:</label>
                    <select class="form-control" name="tema" id="tema">
                        <option value="">Temas</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Publicar</button>
            </div>
        </div>
    </div>
</div>